[submodule "models/Mask3D/third_party/MinkowskiEngine"]
	path = models/Mask3D/third_party/MinkowskiEngine
	url = https://github.com/NVIDIA/MinkowskiEngine.git
[submodule "models/Mask3D/third_party/ScanNet"]
	path = models/Mask3D/third_party/ScanNet
	url = https://github.com/ScanNet/ScanNet.git
